*{
    background-color: black;
    color: white;
}
.btn{
    background-color: #ff1493;
    border-color: white;
    border-radius: 10px;
}
.container1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.container2{
    display: flex;
    justify-content: center;
}
.nav1{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 50px;
}
.nav1 a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

#bar{
    background-color: white;
}